
[init]
	defaultBranch = main
[user]
	name = Ashley Isaac Naimi
	email = 23343163+ainaimi@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/ain/.gitignore_global
[credential]
	helper = osxkeychain
[http]
	postBuffer = 157286400
