[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/config/oh-my-zsh"]
	path = config/config/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
